<div class="w3-row">
    <div class="w3-col m4 l3">
        <div id="servers">
            
        </div>
    </div>
    <div class="w3-col m8 l9">
        teste
    </div>
</div>

@Scripts.Render("~/bundles/serverComponent")
@Scripts.Render("~/bundles/selectableListComponent")
@Scripts.Render("~/bundles/index")