  <div class="w3-accordion" id="node">
    <a href  data-target="node-{{id}}">
      {{nodeName}} <i class="fa fa-caret-down"></i>
    </a>
    <div id="node-{{id}}" class="w3-accordion-content w3-white w3-card-4">
        tree content
    </div>
  </div>